*{
    margin: 0;
    padding: 0;
    background-color: #999999;
}
.g{
    border: 10px solid greenyellow;
    height: auto;
    width: 60px;
    color: #FFFFFF;
    font-size: 35px;
    cursor: pointer;
}
#bk{
    margin: 100px auto;
    border: 10px solid greenyellow;
    border-collapse: collapse;
    width: 420px;
    height: 400px;
    text-align: center;
}
#display1{
    text-align: left;
    font-size: 40px;
    color: #FFFFFF;
}
#dy{
    color: #FFFFFF;
    font-size: 40px;
    cursor: pointer;
}
